#landing {
  .container-2 {
    margin-top: 130px;
    margin-bottom: 40px;

    padding-left: 15px;
    padding-right: 15px;
    width: calc(1200px - 110px);

    .running-header {
      margin-bottom: 10px;

      font-size: 20px;
      font-weight: 800;
    }

    .running {
      border: 1px solid red;
      border-radius: 10px;
      padding: 20px 40px 20px 40px;
      background-color: rgba(255, 255, 255, 0.1);
      margin-bottom: 5px;

      .running-row {
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
      }
    }

    .header {
      font-size: 15px;
      font-weight: 200;
    }

    .btn {
      width: 33.33%;
    }
  }
}
