body {
  background-color: #0d1321;
  border-top: 5px solid #3e5c76;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0ebd8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d2d44;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d1321;
}

#app-container {
  .fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 55px;
    z-index: 99999;

    .navigation {
      height: 55px;
      position: relative;
      left: 0;
      width: 1100px;
      margin: auto;
      padding: 5px;
      overflow: hidden;
      background-color: #0d1321;
    }

    a {
      color: red;
    }
  }
}
